@import '../../scss/variables';

.movie-detail {
    color: $white;

    .poster {
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        display: flex;
        gap: 3rem;
        padding: 7rem 0 7rem 7rem;
        min-height: 90vh;

        @include responsive(768) {
            padding: 7rem 2rem;
            flex-direction: column;
            align-items: center;
            background-position: center;
        }

        h2, h3 {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            letter-spacing: normal;
        }

        .image {

            img {
                width: 25rem;
                height: auto;
            }
        }

        .texts {
            max-width: 65vw;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            @media (max-width: 480px) {
                max-width: 90vw;
            }

            h2 {
                font-size: 3.5rem;
                display: flex;
                align-items: center;
                gap: .5rem;

                @media (max-width: 480px) {
                    font-size: 2.5rem;
                }

                span {
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-size: 1.8rem;
                    font-weight: normal;
                }
            }

            ul {
                display: flex;
                align-items: center;
                gap: 2rem;

                @media (max-width: 480px) {
                    flex-wrap: wrap;
                }

                li {

                    span {
                        padding: 0 .2rem;
                    }
                }
            }

            h3 {
                font-size: 2rem;
            }

            .icon-stars {
                display: flex;
                align-items: center;
                gap: .2rem;

                svg {
                    color: #d1ad0cff;
                }

                p {
                    padding-left: 1rem;
                    font-size: 1.2rem;
                }
            }

            .add-buttons {

                .logged-buttons {
                    display: flex;
                    align-items: center;
                    gap: 2rem;    

                    button {
                        background-color: $mainColor;
                        padding: 1rem;
                        border: none;
                        border-radius: 50%;
                        
                        svg {
                            color: $black;
                            width: 2.5rem;
                            height: 2.5rem;
                        }
                    }
                }

                p {
                    font-size: 1.4rem;
                    font-weight: bold;
                    color: red;
                }
            }

            .companies {
                font-size: 1.2rem;

                span {
                    padding: 0 .5rem;

                    @media (max-width: 480px) {
                        padding: 0;
                    }
                }
            }
        }
    }
}

.chakra-toast {
    margin-top: 2rem;
}