@import '../../scss/variables';

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url("../../assets/pulpfiction.jpg");
    background-size: cover;
    background-position: center top;
    height: 80vh;
    color: $white;
    text-align: center;

    article {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding-bottom: 5rem;

        ul {
    
            li {
                font-size: 2.2rem;
                font-weight: bold;

                @include responsive(992) {
                    font-size: 1.8rem;
                }

                svg {
                    color: $mainColor;
                }
            }
        }

        button {
            margin: 0 auto;
            margin-top: 2rem;
            background-color: $mainColor;
            color: #ffffff;
            border-radius: 1rem;
            font-weight: bold;
            text-transform: uppercase;
            border: none;
            padding: .5rem 3rem;
            font-family: $textFont;
            font-size: 2.3rem;
            cursor: pointer;
            border: 2px solid transparent;

            &:hover {
                background-color: transparent;
                color: $mainColor;
                border: 2px solid $mainColor;
            }
        }
    }
}