.dashboard {
    min-height: 90vh;

    .dashboard-logged {

    }

    .dashboard-not-logged {
        p {
            text-align: center;
            margin-top: 5rem;
            font-weight: bold;
            font-size: 2rem;
        }
    }
}