@import '../../scss/variables';

footer {
    color: #000000;
    padding: 1rem 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid $mainColor;

    @include responsive(768) {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    a {
        color: $mainColor;
        font-weight: bold;
    }
}