@import './variables';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body { 
    font-size: 16px;
    font-family: $textFont;
    background-color: #000000 !important;
}
h1, h2, h3 {
    font-weight: bold;
    font-family: $titleFont;
}
a {
    text-decoration: none;
    color: #ffffff;
}
li {
    list-style: none;
}
button {
    font-family: $textFont;
}