@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');

// Colors
$mainColor: #7FB335;
$black: #000000;
$white: #ffffff;

// Fonts
$titleFont: "Lalezar", system-ui;
$textFont: "Laila", serif;